/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  width: calc(25% - 20px); /* 4 tarefas por linha com margem entre elas */
  box-sizing: border-box;
}

form {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

label {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

input,
textarea {
  width: calc(50% - 16px);
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
